
<div id="you" class="text-center">
  <h3> <%= @question %> </h3>
  <h6> -You </h6>
</div>


<div id="coach" class="text-center">
  <h3> <%= @answer %> </h3>
  <h6> -Coach Useless </h6>
</div>

<div class=text-center id="home">
<%= link_to "Ask another question", "/ask" %>
</div>
